body {
    padding: 0;
    margin: 0;
}

body *{
    box-sizing: border-box;
}

.container {
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;

}

.windowTitle {
    padding: 10px;
    height: auto;
    display: inline-block;
    font-family: 'Jetbrains mono';
}

.windowControls {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 0px;
    width: 100px;
    height: 100%;
    -webkit-app-region: none;
}

.windowControls button {
    outline: 0;
    border: 0;
    padding: 5px;
    background: none;
    -webkit-app-region: none;

}

.titleBarStyle {
    background: #202327;
    color: white;
    size: 10pt;
}

.windowControlsStyle button {
    color: white;

}

.windowControlsStyle button:hover {
    background: #48494c;
    color: white;
}

.preventSelect {
    user-select: none;
    -webkid-touch-callout: none;
    -webkit-user-select: none;
}

.draggable {
    -webkit-app-region: drag;
}