body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body *{
    box-sizing: border-box;
    
}

.container {
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
}

.windowTitle {
    padding: 10px;
    height: auto;
    display: inline-block;
    font-family: 'Jetbrains mono';
}

.windowControls {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 0px;
    width: 100px;
    height: 100%;
    -webkit-app-region: none;
}

.windowControls button {
    outline: 0;
    border: 0;
    padding: 5px;
    background: none;
    -webkit-app-region: none;
}

.windowControls img {
    height: 12pt;
}

#close:hover img {
    content: url("../img/windowControls/close-hover.svg");
    transform: scale(120%);
}

#close:not(:hover) img {
    content: url("../img/windowControls/close-normal.svg");
}

#close:active img {
    content: url("../img/windowControls/close-press.svg");
    transform: scale(95%);
}


#minimize:hover img {
    content: url("../img/windowControls/min-hover.svg");
    transform: scale(120%);
}

#minimize:not(:hover) img {
    content: url("../img/windowControls/min-normal.svg");
}

#minimize:active img {
    content: url("../img/windowControls/min-press.svg");
    transform: scale(95%);
}


#maximize:hover img {
    content: url("../img/windowControls/max-hover.svg");
    transform: scale(120%);
}

#maximize:not(:hover) img {
    content: url("../img/windowControls/max-normal.svg");
}

#maximize:active img {
    content: url("../img/windowControls/max-press.svg");
    transform: scale(95%);
}




.titleBarStyle {
    background: #202327;
    color: white;
    size: 10pt;
}

.windowControlsStyle button {
    color: white;
}



.preventSelect {
    user-select: none;
    -webkid-touch-callout: none;
    -webkit-user-select: none;
}

.draggable {
    -webkit-app-region: drag;
}